<% layout('/layouts/boilerplate') %>

<body>

    <style>
/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom, #fe424d, pink);
    display: flex;
    justify-content: center;
    color: #fff;
}

    </style>


    <div class="signup-container">
        <h1 class="title">WanderLust Signup</h1>
        <p class="subtitle">Create an account to explore WanderLust</p>
        <form action="/signup" method="POST" class="signup-form"  class="needs-validation" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" id="username" placeholder="Enter your username" required/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="signup-btn btn-success">Sign Up</button>
        </form>
    </div>
</body>

